







.search {
  margin-top: 20px;
  display: none;
}
.page_title {
  font-size: 1.4em;
}
.pull-right {
  float: right !important;
}
.fa-info-circle:before {
  content: "\f05a";
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.input-group-addon, .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
  display: table-cell;
}
.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group {
  margin-right: -1px;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-btn .searchtype {
  background: #ddd;
  color: #333;
}
.input-group-btn .btn {
  font-size: 17px;
}
.input-group-btn .btn {
  font-size: 19px;
  line-height: 110%;
  color: #fff;
  background: #0F5E8B;
  transition: all .3s ease-in-out 0s;
  -webkit-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  -moz-transition: all .3s ease-in-out 0s;
  -ms-transition: all .3s ease-in-out 0s;
}
.input-group-btn .btn, table th {
  font-family: "OpenSans Semibold";
}
.budgetHead h4, .categoryHead, .input-group-btn .btn, .quickView, .registerBox h2 span, .sidebarHead h3, .table-outline h4, .tag span {
  text-transform: uppercase;
}
.input-group-btn > .btn {
  position: relative;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
#search_concept {
  text-transform: none;
  font-family: Roboto;
  font-size: 14px;
}
.input-group-btn .searchtype {
  background: #ddd;
  color: #333;
}
.btn-default {
  background-color: #0f5e8b;
  border-color: #ccc;
  color: white;
}
.btn .caret {
  margin-left: 0;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropdown-menu {
  right: 0;
  left: unset;
  top: 88%;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}
.dropdown-menu li {
  border-bottom: 1px solid #ececec;
  margin: 0px;
  text-align: -webkit-center;
}
.dropdown-menu li {
  display: block;
}
.dropdown-menu li {
  display: block;
}.dropdown-menu>li>a {
  padding: 0px 0px;
  margin: 1px 9px 6px 9px;
  text-align: center;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
a {
  background-color: transparent;
}
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.clearfix {
  clear: both;
  display: block;
}
.filterError {
  color: red;
  font-size: 0.7em;
  position: absolute;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.input-group-addon, .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
  display: table-cell;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  margin-left: -1px;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-btn .btn, table th {
  font-family: "OpenSans Semibold";
}
.budgetHead h4, .categoryHead, .input-group-btn .btn, .quickView, .registerBox h2 span, .sidebarHead h3, .table-outline h4, .tag span {
  text-transform: uppercase;
}
.input-group-btn > .btn {
  position: relative;
}



.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pull-left {
  float: left !important;
}
.custom-alert-css {
  margin-top: 20px!important;
  margin-bottom: 0px!important;
  text-align: center;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* .container{
  width: 70%;
  margin-left: 15%;
} */

.card {
  box-shadow: 0 1px 5px #ccc;
  border-top: 3px solid rgb(251 90 0);
  /* margin-bottom: 20px; */
  padding: 10px;
  font-size: 12px;
  line-height: 1.3;
  margin-top: 0px;
}
.card_table{
  border: solid rgb(251 90 0);
  margin-top: 20px;

}
.esignborder {
  border: 1px solid #ccc;
}

#light-pagination{
  margin-top: 20px;
}

body {
  font-family: "Roboto";
  background: #fff;
  font-style: normal;
  font-size: 1.5em;
}

.block_header {
  height: auto;
  overflow: hidden;
  padding: 0px;
  margin-bottom: 0px;
}

.block_bid_no, .block_header {
  border-bottom: 1px solid #f0f0f0;
}

.bid_no {
  background: #fff;
  color: #0F5E8B;
  padding: 5px;
  width: auto;
  font-weight: bold;
}
.bid_no, .congignee, .contract {
  margin-bottom: 0;
}
.pull-left {
  float: left !important;
}
ol, p, ul {
  margin-top: 0;
}
.bid_title {
  color: #000;
}

a {
  color: #0F5E8B;
  text-decoration: none!important;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-arrow-right:before {
  content: "\f061";
}
.otherDetails {
  margin-right: 10px;
  cursor: pointer;
}
.pull-right {
  float: right !important;
}
.clearfix {
  clear: both;
  display: block;
}
*, .noPadding, h1, h2, h3, ol, ul {
  padding: 0;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
  clear: both;
}
.card-body {
  padding: 15px 15px 5px 15px;
  line-height: 20px;
}
.light-theme .current {
  background: #0F5E8B;
  color: #FFF;
  border-color: #444;
  box-shadow: 0 1px 0 rgb(255 255 255), 0 0 2px rgb(0 0 0 / 30%) inset;
  cursor: default;
}
.light-theme a, .light-theme span {
  float: left;
  color: #666;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  border: 1px solid #BBB;
  min-width: 14px;
  padding: 0 7px;
  margin: 0 5px 0 0;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  background: #efefef;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 992px){
  .col-md-7 {
    width: 58.33333333%;
}
.col-md-4 {
  width: 33.333333%;


}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
}
.col-md-5 {
  width: 38.66666667%;
}
.col-md-3 {
  width: 19%;
}
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

b, strong {
  font-weight: bold;
}
.clearfix {
  clear: both;
  display: block;
}
.end_date {
  color: #e1950b;
}
.start_date {
  color: #0ba10b;
}

.main_ip_1{
  width: 76%;

}
.logo_ip{
  width: 23% !important;

}
.apply_btn_2{
  margin-top: 40px;

}
.apply_btn{
  margin-left: 37%;
  margin-top: 9px;
  padding: 3px 20px;
  border-radius: 7px;
  background-color: green;
  color: white;
  font-size: medium;
}

.apply_btn_1{
  color: white;

}
.apply_b_1{
  color: white;
  padding: 10px 42px;
    border: solid 2px black;

}

@media(max-width:1024px){
  .logo_ip {
    width: 45% !important;
}
}