
.card {
    box-shadow: 0 1px 5px #ccc;
    border-top: 3px solid #fbb203;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 12px;
    line-height: 1.3;
    margin-top:0px;
}
.card-body{
    padding: 15px 15px 5px 15px;
    line-height: 20px;
}
.search{
    margin-top:20px;
    display:none;
}
.filterhead{
    color: #0F5E8B;
    font-size: 1.5em;
    float: left;
}
.sidefilter{
    position: sticky;
    top: 0;
    z-index: 1;
    display:none;
    background-color: #f4f4f4;
    padding-top: 10px;
    margin-top: 20px;
    font-size:14px;
}
@media only screen and (max-width: 1000px) {
    .sidefilter{
        display:none;
        position:relative;
    }
}

/* h4{
    font-size: 1em;
    color: #0F5E8B;
}
h5{
    color: #0F5E8B;
} */
.filtermargin{
    margin-top:20px;
}
.block_header{
    height: auto;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 0px;
}
.alert{
    margin-top:20px;
}
.go{
    background-color: #0F5E8B;
    color:#fff;
}
.filterError{
    color:red;
    font-size: 0.7em;
    position: absolute;
}
.popover{
    overflow-wrap: anywhere;
    max-width: 100%!important;
}
.card-body .popover-content{
    overflow-wrap: anywhere;
    width:250px!important;
} 
/*paging */
ul.simple-pagination {
    list-style: none;
}
.simple-pagination {
    display: block;
    overflow: hidden;
    padding: 0 5px 5px 0;
    margin: 0;
}
.simple-pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.simple-pagination li {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}
.light-theme a, .light-theme span {
    float: left;
    color: #666;
    font-size:14px;
    line-height:24px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #BBB;
    min-width: 14px;
    padding: 0 7px;
    margin: 0 5px 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: #efefef;

}
.light-theme a:hover {
    text-decoration: none;
    background: #FCFCFC;
}
.light-theme .current {
    background: #0F5E8B;
    color: #FFF;
    border-color: #444;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
    cursor: default;
}
.light-theme .ellipse {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    cursor: default;
}
/* hr{
    margin-top: 10px;
    margin-bottom: 15px;
} */
/* input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
} */
.start_date{
    color: #0ba10b;
}
.end_date{
    color: #e1950b;
}
.bid_no{
    background: #fff;
    color: #0F5E8B;
    padding: 5px;
    width: auto;
    font-weight:bold;
}
.bid_title{
    color:#000;
}
.bid_no_hover:hover{
    text-decoration: underline !important;
}
.page_title{
    font-size:1.4em;
}
.totalRecord{
    color: #0F5E8B;;
}
.sort{
    float:right;
}
.row-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
.pos-bottom{
    position: absolute;
    bottom: 5px;
}
.dropdown-menu {
    right:0;
    left: unset;
    top: 88%;
}
.dropdown{
    color:#0F5E8B;
}
.input-group-btn .btn{
    font-size:17px;
}
#search_concept{
    text-transform:none;
    font-family: Roboto;
    font-size:14px;
}
.input-group-btn .searchtype{
    background: #ddd;
    color: #333;
}
.input-group-btn .searchtype:hover{
    background: #ddd;
    color: #333;
}
.sort_button{
    background: #ddd;
    color: #333;
}
.dropdown-menu li:hover{
    background: #0F5E8B;
}
.dropdown-menu li {
    border-bottom: 1px solid #ececec;
    margin: 0px;
    text-align: -webkit-center;
}
.dropdown-menu li a {
    padding: 10px;
    margin:0px;
    cursor: pointer;
}
.dropdown-menu li a:hover {
    color:#fff;
}
.checkbox label {
font-size:12px;
}
.otherDetails{
    margin-right:10px;
    cursor: pointer;
}
.blink{
    animation: blinker 1s linear infinite;
    font-weight: 600;
    font-size: 15px;
    color:#0F5E8B;
    cursor:pointer;
    margin-left:10px;
}
@keyframes blinker {
    50% {
        opacity: 0;

    }
}
.btn-default{
    background-color: #0f5e8b;
    border-color: #ccc;
    color: white;
}
.custom-alert-css{
    margin-top:20px!important;
    margin-bottom:0px!important;
    text-align: center;
}
